In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame({"A":[1, 5, 3, 4, 2], 
                   "B":[3, 2, 4, 3, 4], 
                   "C":[2, 2, 7, 3, 4], 
                   "D":[4, 3, 6, 12, 7]})

In [8]:
df

   A  B  C   D
0  1  3  2   4
1  5  2  2   3
2  3  4  7   6
3  4  3  3  12
4  2  4  4   7

In [10]:
df.quantile([.1, .25, .5, .75], axis = 0)

        A    B    C    D
0.10  1.4  2.4  2.0  3.4
0.25  2.0  3.0  2.0  4.0
0.50  3.0  3.0  3.0  6.0
0.75  4.0  4.0  4.0  7.0

In [6]:
df.quantile([0.1, 0.5])

       p      q
0.1  2.3    7.4
0.5  3.5  110.0